fastapi
uvicorn[standard]
asyncpg
databases[postgresql]
sqlalchemy
alembic
pydantic[email]
python-dotenv
pytest
httpx
psycopg2-binary
sqlmodel
pytest==8.0.0
httpx==0.26.0
pytest-asyncio==0.23.5
pytest-cov==4.1.0