fastapi>=0.100.0 # FastAPI 프레임워크
uvicorn[standard]>=0.23.0 # 개발 서버
asyncpg>=0.28.0 # PostgreSQL 비동기 클라이언트 라이브러리
databases[postgresql]>=0.7.0 # 데이터베이스 연결 라이브러리
sqlalchemy>=2.0.0 # SQLAlchemy 대신 사용
alembic>=1.12.0 # 데이터베이스 마이그레이션 라이브러리
pydantic>=2.0.0 # Pydantic 모델 라이브러리
pydantic-settings>=2.0.0 # Pydantic 설정 라이브러리
python-dotenv>=1.0.0 # 환경 변수 관리 라이브러리
httpx>=0.26.0 # HTTP 클라이언트 라이브러리
psycopg2-binary>=2.9.0 # PostgreSQL 데이터베이스 연결 라이브러리
sqlmodel>=0.0.8 # SQLAlchemy 대신 사용
pytest==8.0.0 # 테스트 라이브러리
pytest-asyncio==0.23.5 # 비동기 테스트 라이브러리
pytest-cov==4.1.0 # 테스트 커버리지 라이브러리
python-jose[cryptography]>=3.3.0 # JWT 라이브러리
python-multipart>=0.0.6 # 파일 업로드 라이브러리
email-validator>=2.0.0 # 이메일 유효성 검사 라이브러리
bcrypt>=4.0.0 # 비밀번호 해시화 라이브러리